doctype html
html
  head
    meta(
      content = 'text/html; charset=utf-8'
      http-equiv = 'Content-Type'
    )
    title 乐谱生成器
    link(
      href = 'static.css'
      rel = 'stylesheet'
      type = 'text/css'
    )
  body
    #group-file
      #picker 选择文件
      input#ipt-file(
        accept = '.txt'
        multiple = 'false'
        type = 'file'
      )
    #group-long
      input#ipt-long(
        max = '2000'
        min = '200'
        placeholder = '节拍时长(ms)'
        type = 'number'
      )
    script if (typeof module === 'object') {window.module = module; module = undefined;}
    script(
      defer
      src = 'lib.min.js'
    )
    script if (window.module) module = window.module;
    script(
      defer
      src = 'static.js'
    )